:root {
    --bg-color: #fffdfa;
    --text-color-1: #797b80;
    --text-color-2: #fff;
    --text-color-3: #00001a;
    --text-color-4: #c5c6ce;
    --text-color-5: #e9ab53;
    --button-bg-color: #f15e50;
    --bg-color-2: #00001a;
  }
  
